<div class="card my-5">
  <div  [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
	
	 <div class="form-group">
        <label for="name">ID</label> <br>
        <input type="text" [(ngModel)]="user.id" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div> 
	 
	  <br>
	
	
      <div class="form-group">
        <label for="name">Name</label> <br>
        <input type="text" [(ngModel)]="user.firstName" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div> <br>
	 
	  <div class="form-group">
        <label for="name"> Last Name</label> <br>
        <input type="text" [(ngModel)]="user.lastName" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
	  
	
	  <br>
	  
	  
	  <div class="form-group">
        <label for="name"> Gender</label> <br>
        <input type="text" [(ngModel)]="user.gender" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
	  <br>
	 
	  
	  
	   <div class="form-group">
        <label for="name"> Date Of Birth</label> <br>
        <input type="text" [(ngModel)]="user.dateOfBirth" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
	  <br>
	  
	  
	  
	  
	   <div class="form-group">
        <label for="name"> Department</label> <br>
        <input type="text" [(ngModel)]="user.department" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
	  <br>
	
      <button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>