<div class="card my-5">
  <div class="card-body">
    <table  id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="35%">
      <thead >
        <tr>
          <th  class="th-sm">ID</th>
          <th  class="th-sm">First Name</th>
          <th  class="th-sm">LastName</th>
		  <th  class="th-sm">Gender</th>
          <th  class="th-sm">Date Of Birth</th>
		  <th  class="th-sm">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
		 <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.gender }}</td>
		  <td>{{ user.dateOfBirth }}</td>
          <td>{{ user.department }}</td>
         
        </tr>
      </tbody>
    </table>
  </div>
</div>
